*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

@media (max-width:600px){
  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  .footer{
    padding: 0;
    margin: 0;
    margin-left: -150px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

